<div class="pre-post">
  {{#each blogPrePost}}
    <div class="post-heading">
      <h2>{{this.post_heading}}</h2>
      <p>Posted by {{this.user_name}} on {{this.post_date}}</p>
    </div>
    <div class="post-body">
      <p>{{this.post_body}}</p>
    </div>
  {{/each}}
</div>