<div class="pre-post">
        <div class="post-heading">
      <h2>{{post_heading}}</h2>
      <p>Posted by {{user_name}} on {{post_date}}</p>
      </div>
      <div class="post-body">
        <p>{{post_body}}</p>
      </div>
</div>
