<div class="blog-info">
    <p>CMS Blog App was created to give everyone their own voice and light to share your very own unique blogs.<br> 
    Do you have something juicy you would like to share?<br>
     Keep up with the newly trendy topics! <br>
      Share your thoughts and communicate with other bloggers.</p>
</div>
<form id="create-post-form">
  <div class="dashboard-area">
    <h2>Title:</h2>
    <textarea id="title" name="title" rows="2" cols="50"></textarea>
    <h2>Text:</h2>
    <textarea id="text" name="text" rows="10" cols="50"></textarea>
  </div>
  <button type="button" id="create-post-button">Create Post</button>
</form>