<form class="form login-form">
    

  <div class="form-group">
    <div class="centered-text">
  <h2>Login</h2>
</div>
    <label for="email-login">Email:</label>
    <input class="form-input" type="text" id="email-login"/>
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login"/>
  </div>
  <div class="form-group">
    <button class="btn btn-primary loginBtn" type="submit">login</button>
     <div class="register-link">
<p>Don't have an account? <a href="#">Register</a> </p>
</div>
  </div>
  
</form>


<form class="form signup-form" hidden>
   <div class="centered-text">
  <h2>Sign-up</h2>
</div>
    <div class="form-group">
   <label for="new-username"><b>Username:</b></label>
    <input class="form-input" type="text" placeholder="Enter Username" name="username" required>
  </div>
  <div class="form-group">
    <label for="new-email">Email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="new-password">Password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Sign-Up</button>
  </div>
</form>

