<form id="login-form" class="form login-form log-in">
    <div class="form-group">
    <div class="centered-text">
  <h2>Login</h2>
</div>
    <label for="email-login">Email:</label>
    <input class="form-input" type="text" id="email-login"/>
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login"/>
  </div>
  <div class="form-group">
    <button class="btn btn-primary loginBtn" type="submit">login</button>
     <div class="register-link">
<p>Don't have an account? <a id="register-link" href="#">Register</a> </p>

</div>
  </div>
  
</form>


<form id="signup-form" class="form signup-form sign-up">
   <div class="centered-signup">
  <h2>Sign-up</h2>
</div>
    <div class="form-group sign-up">
   <label for="new-username"><b>Username:</b></label>
    <input class="form-input" type="text" placeholder="Enter Username" id="username-signup" name="username" required>
  </div>
  <div class="form-group sign up">
    <label for="new-email">Email:</label>
    <input class="form-input" type="text" id="email-signup" />
  </div>
  <div class="form-group sign-up">
    <label for="new-password">Password:</label>
    <input class="form-input" type="password" id="password-signup" />
  </div>
  <div class="form-group sign-up">
    <button class="btn btn-primary signUpBtn" type="submit">Sign-Up</button>
    <div class="register-link">
 <p><a id="register-link" href="/login">Sign in Now!</a></p> 
</div>
  </div>
</form>


