<h2>Login</h2>
<div class="user-secret-credentials">
<form class="form login-form">
  <div class="form-group">
    <label for="email-login">email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>
<form class="form signup-form">
    <div class="form-group">
   <label for="new-username"><b>Username:</b></label>
    <input class="form-input" type="text" placeholder="Enter Username" name="username" required>
  </div>
  <div class="form-group">
    <label for="new-email">Email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="new-password">Password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>
{{!-- <form id="signup-form">
    <div class="form-group">
   <label for="username"><b>Username:</b></label>
    <input class="form-input" type="text" placeholder="Enter Username" name="username" required>
  </div>
  <input type="text" id="signup-email" placeholder="Email">
  <input type="password" id="signup-password" placeholder="Password">
  <button type="submit">Sign Up</button>
</form> --}}
</div>