:root {
    --primary: #3d5852;
    --secondary: #86938f;
    --tertiary: #5e877f;
    --quatrinary: #6c6b67;
    --light: #e3e4e3;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }
nav {
    float: right;
    
}

nav a {
    padding:5px;
    text-decoration: none;
    color: var(--light);
    font-size: 20px;

}

header {
    padding: 40px;
    text-align: center;
    background: var(--primary);
    color: var(--light);
  }

  .post-heading {
    display: flex;
    justify-content: space-between;
    background: var(--primary);
    color: var(--light);
    padding-left: 10px;
    padding-right: 10px;

  }

  .post-heading p {
    color: pink;
  }

  .pre-post {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
  }

  .blog-posts {
    padding-left: 30px;
    padding-right: 30px;
    padding-top:20px;

   }
  .post-body {
    padding-left: 10px;
  border: 3px solid var(--primary);

  }

  .blog-posts .post-body {
    margin-bottom: 20px;
    

  } 
.comment-form textarea {
  width: 500px;
}
.comment-form button {
  display:block;
  margin-left: auto;
  margin-right: auto;
}
  .comment-form {
   border-top: 3px solid var(--primary);
    margin: 0;
    margin-right:10px;
    text-align: center;
    margin-bottom: 5px;

  }
  .login-form, .signup-form {
    border: 1px solid  #182c23;
  margin: auto;
  width: 40%;
  padding: 10px;
  margin-top:40px;
  
  }

  .form-input {
    display: block;
  }
  .loginBtn {
    width:60px;
    background-color: var(--primary);
    border-color: white;
  }
.signUpBtn {
  width: 90px;
  background-color: var(--primary);
    border-color: white;
}
.form-group {
  margin: auto;
  width: 50%;
  padding: 10px;
  
}

.centered-text {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.centered-signup {
  text-align: center;
}


.user-blog-bench {
  display:flex;

  margin-top: 50px;
 
}

.post-history {
  margin-left: 10%;
  width:100%;
}

.blog-info {
  margin:auto;
  margin-left: 50vh;
  
}

nav {
  background-color: #182c23;
  width: 100%;
  
}

.sign-up {
  display: none;
}

.log-in {
  display: block;
}