:root {
    --primary: #3d5852;
    --secondary: #86938f;
    --tertiary: #5e877f;
    --quatrinary: #6c6b67;
    --light: #e3e4e3;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }
nav {
    float: right;
    
}

nav a {
    padding:5px;
    text-decoration: none;
    color: var(--light);
    font-size: 20px;

}

header {
    padding: 40px;
    text-align: center;
    background: var(--primary);
    color: var(--light);
  }

  .post-heading {
    display: flex;
    justify-content: space-between;
    background: var(--primary);
    color: var(--light);
    padding-left: 10px;
    padding-right: 10px;

  }

  .post-heading p {
    color: pink;
  }

  .pre-post {
    padding: 30px;
  }
  .post-body {
    padding-left: 10px;
  border: 3px solid var(--primary);

  }

  .login-form, .signup-form {
    border: 5px solid var(--primary);
  margin: auto;
  width: 30%;
  padding: 10px;
  margin-top:40px;
  }

  .form-input {
    display: block;
  }
  .loginBtn {
    width:50px;
  }
.signUpBtn {
  width: 90px;
}
.form-group {
  margin: auto;
  width: 50%;
  padding: 10px;
  
}

.centered-text {
  margin: auto;
  width: 50%;
  padding: 10px;
}